@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome bij mijn website</h1>
    <p>Ik weil deze website gebruiken om mijn code te laten zien</p>
</div>
